<DIV ALIGN=CENTER>

# Introduction to Machine Learning Pre-Processing
## Professor Robert J. Brunner
  
</DIV>  
-----
-----


## Introduction

In this IPython Notebook, we explore data pre-processing. This is a
large topic, so in this notebook we will focus on some basic concepts.
You should feel free to try completing additional tasks.

-----

Read in airline data

explore with describe

copy to new dataframe. Drop na

fillna

categoricals.

fix datetime

In [1]:
# We do this to ignore several specific Pandas warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd 

# Change this to read a different file, for example
# /home/data_scientist/data/2001.csv on the JupyterHub Server
#
# Note that the JupyterHub server has data from other years in the raw
# subdirectory.
#
filename = '/home/data_scientist/rppdm/data/2001.csv'

# Read select columns for all rows.

ucs = (1, 2, 4, 14, 15, 16, 17, 18)
cnms = ['Month', 'Day', 'dTime', 'aDelay', 'dDelay', 'Depart', 'Arrive', 'Distance']

alldata = pd.read_csv(filename, header=0, na_values=['NA'], usecols=ucs, names=cnms)

-----

Note DtaFrame is mising `Depoart` and `Arrive` columns. Also have different counts for each column since NA valus are explicitly skipped by `count` method. And don't have an actual datetime.

In [3]:
alldata.describe()

,Month,Day,dTime,aDelay,dDelay,Distance
count,5967780.000000,5967780.000000,5736582.000000,5723673.000000,5736582.000000,5967780.000000
mean,6.306294,15.683204,1348.704605,5.528249,8.154837,733.029305
std,3.371688,8.775346,482.686013,31.429291,28.348469,574.071625
min,1.000000,1.000000,1.000000,-1116.000000,-204.000000,21.000000
25%,3.000000,8.000000,930.000000,-9.000000,-3.000000,313.000000
50%,6.000000,16.000000,1333.000000,-2.000000,0.000000,571.000000
75%,9.000000,23.000000,1740.000000,10.000000,6.000000,980.000000
max,12.000000,31.000000,2400.000000,1688.000000,1692.000000,4962.000000

In [4]:
# Drop any row that is missing a departure time
#
# axis = 0 means drop rows
# subset=['dTime'] means drop if the departure time is missing
# inplace=True means modify the existing DataFrame

alldata.dropna(axis=0, subset=['dTime'], inplace=True)

In [5]:
# Now display number of 'good' values for each column.
alldata.count()

Month       5736582
Day         5736582
dTime       5736582
aDelay      5723673
dDelay      5736582
Depart      5736582
Arrive      5736582
Distance    5736582
dtype: int64

In [6]:
# Now replace missing values (which are all in Arrival Delay column)
# with 0, note we could use another value, such as the departure delay.

alldata.fillna(value=0, axis=0, inplace=True)

In [7]:
# First create a new DataFrame
# For now, simply copy over the columns, but we could
# convert them to integers (for number of minutes delay)
# and change data type to save memory.

newdata = alldata[['aDelay', 'dDelay', 'Distance']]

Now we talk about categoricals.

Will turn Arrival and Departure locations to categories.

http://pandas.pydata.org/pandas-docs/stable/categorical.html

In [8]:
alldata['Depart'].unique()

array(['BWI', 'PHL', 'CLT', 'CLE', 'MKE', 'PIT', 'TPA', 'LGA', 'DFW',
       'BUF', 'BOS', 'ROC', 'DCA', 'MHT', 'CRW', 'MEM', 'DTW', 'CMH',
       'GSO', 'IAD', 'IAH', 'BHM', 'HPN', 'CHS', 'STL', 'AVP', 'ATL',
       'GSP', 'RDU', 'MCI', 'ORF', 'MYR', 'ALB', 'RIC', 'BNA', 'PVD',
       'BGM', 'TOL', 'SAV', 'ROA', 'IND', 'MDT', 'BTV', 'ELM', 'ITH',
       'JAX', 'PBI', 'SRQ', 'MSY', 'FLL', 'EWR', 'GRR', 'MSP', 'ORD',
       'ABE', 'LAS', 'BDL', 'MIA', 'MCO', 'CAE', 'ILM', 'SFO', 'SJU',
       'SDF', 'RSW', 'DAY', 'SYR', 'PNS', 'AVL', 'CAK', 'SBN', 'ERI',
       'HSV', 'CHA', 'SEA', 'TYS', 'FAY', 'LEX', 'STT', 'PWM', 'TRI',
       'STX', 'MDW', 'DAL', 'HOU', 'OKC', 'HRL', 'LIT', 'CRP', 'TUL',
       'LBB', 'MAF', 'ABQ', 'AMA', 'PHX', 'SAN', 'SMF', 'ISP', 'LAX',
       'AUS', 'PDX', 'ELP', 'OAK', 'ONT', 'SJC', 'JAN', 'RNO', 'BOI',
       'TUS', 'BUR', 'SAT', 'SLC', 'GEG', 'OMA', 'SNA', 'MSN', 'MBS',
       'FAR', 'ICT', 'GPT', 'VPS', 'DEN', 'TVC', 'FNT', 'GRB', 'GFK',
       'MOT', 'BIS', 'AZO', 'LAN', 'BZN', 'FCA', 'DLH', 'DSM', 'FSD',
       'FWA', 'GTF', 'CVG', 'SUX', 'RAP', 'LSE', 'ANC', 'HNL', 'RST',
       'BIL', 'BTR', 'EGE', 'MSO', 'JFK', 'COS', 'PSP', 'HDN', 'OGG',
       'SGF', 'MFE', 'LNK', 'CID', 'MLI', 'KOA', 'LIH', 'JAC', 'EUG',
       'GUC', 'MFR', 'SBA', 'MOB', 'DAB', 'MLU', 'SHV', 'MLB', 'TLH',
       'PSC', 'FAI', 'HLN', 'LGB', 'BFL', 'FAT', 'SBP', 'MRY', 'ABI',
       'XNA', 'TXK', 'FSM', 'ACT', 'LFT', 'LRD', 'SPS', 'GGG', 'BPT',
       'ILE', 'LAW', 'SJT', 'CLL', 'TYR', 'PIA', 'BMI', 'EVV', 'CMI',
       'DBQ', 'BGR', 'ORH', 'APF', 'EYW', 'SWF', 'MTJ', 'DRO', 'ITO',
       'DUT', 'ADQ', 'BET', 'OME', 'OTZ', 'SCC', 'JNU', 'KTN', 'CDV',
       'YAK', 'SIT', 'PSG', 'WRG', 'BRW', 'BQN', 'BRO', 'MQT', 'ACY',
       'AKN', 'DLG', 'LWB', 'GST', 'RDR', 'MAZ'], dtype=object)

In [9]:
# Now copy over the departure and Arrival columns, 
# but change data type to categoricals. 

newdata['Depart'] = alldata['Depart'].astype('category')
newdata['Arrive'] = alldata['Arrive'].astype('category')

Now we make a datetime index

http://pandas.pydata.org/pandas-docs/stable/timeseries.html

http://strftime.org

In [10]:
newdata['Year'] = 2001
newdata['Month'] = alldata.Month
newdata['Day'] = alldata.Day
newdata['Hour'] = (alldata.dTime/100.).astype(int)
newdata['Min'] = (alldata.dTime - 100*(alldata.dTime/100.).astype(int)).astype(int)

In [11]:
newdata.tail()

         aDelay  dDelay  Distance Depart Arrive  Year  Month  Day  Hour  Min
5967775       4       4      1189    ONT    DFW  2001     12   14     7    4
5967776       3       8      1189    ONT    DFW  2001     12   15     7    8
5967777      -8      -4      1189    ONT    DFW  2001     12   16     6   56
5967778      -4      -4      1189    ONT    DFW  2001     12   17     6   56
5967779       3       9      1189    ONT    DFW  2001     12   18     7    9

In [12]:
newdata.describe()

,aDelay,dDelay,Distance,Year,Month,Day,Hour,Min
count,5736582.000000,5736582.000000,5736582.000000,5736582,5736582.000000,5736582.000000,5736582.000000,5736582.000000
mean,5.515809,8.154837,735.611691,2001,6.291336,15.712031,13.191086,29.596014
std,31.395001,28.348469,574.963899,0,3.381300,8.827161,4.830028,17.811980
min,-1116.000000,-204.000000,21.000000,2001,1.000000,1.000000,0.000000,0.000000
25%,-9.000000,-3.000000,314.000000,2001,3.000000,8.000000,9.000000,14.000000
50%,-2.000000,0.000000,576.000000,2001,6.000000,16.000000,13.000000,30.000000
75%,10.000000,6.000000,984.000000,2001,9.000000,23.000000,17.000000,45.000000
max,1688.000000,1692.000000,4962.000000,2001,12.000000,31.000000,24.000000,59.000000

Can't convert hour==24 to datetime in python. need to fix. For now we will simply subtract one minute. A better way might be to convert to next day.

In [13]:
newdata.loc[newdata.Hour == 24, 'Min'] = 59
newdata.loc[newdata.Hour == 24, 'Hour'] = 23

In [14]:
newdata['DTI'] = pd.to_datetime(newdata.Year * 100000000 + 
                                newdata.Month * 1000000 + 
                                newdata.Day * 10000 + 
                                newdata.Hour * 100 + 
                                newdata.Min, format="%Y%m%d%H%M")

In [15]:
newdata.set_index('DTI', inplace=True)

In [16]:
newdata.tail()

,aDelay,dDelay,Distance,Depart,Arrive,Year,Month,Day,Hour,Min
DTI,,,,,,,,,,
2001-12-14 07:04:00,4,4,1189,ONT,DFW,2001,12,14,7,4
2001-12-15 07:08:00,3,8,1189,ONT,DFW,2001,12,15,7,8
2001-12-16 06:56:00,-8,-4,1189,ONT,DFW,2001,12,16,6,56
2001-12-17 06:56:00,-4,-4,1189,ONT,DFW,2001,12,17,6,56
2001-12-18 07:09:00,3,9,1189,ONT,DFW,2001,12,18,7,9

At this point we have a DataFrame that contains a DateTime Index, no missing values, and has the airport codes represented by categoricals.